
body {
    background-color: rgb(133, 43, 151);
    font: Normal 10pt Arial;
}


header {
   text-align: center;
   color: rgb(255, 255, 255);
   
}
section {

    background: white;

    border-radius: 25px;

    padding: 25px;

    width: auto;

    box-shadow:  5px 5px 10px black;

    text-align: center;

}
div{

    text-align:center;
}
footer {
    color: white;
    text-align: center;
    font-style:  italic;
   
}

#foto{ 
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    text-align: center;}

    
